{
  "singleQuote": true,
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "editorconfig": true,
  "jsxSingleQuote": true,
  "semi": false,
  "useTabs": true,
  "vueIndentScriptAndStyle": true
}